[Desktop Entry]
Type=Application
Version=1.0
Name=miki_rest
GenericName=miki_rest
Comment=Miki developed this
Icon=tweaks-app
TryExec=~/.local/share/applications/miki_bash/miki_rest.sh
Exec=~/.local/share/applications/miki_bash/miki_rest.sh %F
Terminal=false
StartupNotify=true
