[Desktop Entry]
Type=Application
Version=1.0
Name=Rest
GenericName=miki_rest
Comment=Miki developed this
Icon=tweaks-app
TryExec=/home/roman/.local/share/applications/miki_bash/miki_rest.sh
Exec=/home/roman/.local/share/applications/miki_bash/miki_rest.sh %F
Terminal=false
StartupNotify=true
